@{
    ViewBag.Title = "Home Page - Backend1";
}
<h1>Calc Service Demonstration</h1>
<ul>            
    <li><a asp-controller="CalculatorService" asp-action="ManualParsingSingle">Manual parsing in single action</a></li>
    <li><a asp-controller="CalculatorService" asp-action="ManualParsingSeparate">Manual parsing in separate action</a></li>
    <li><a asp-controller="CalculatorService" asp-action="ModelBindingParameters">Model binding (parameters)</a></li>
    <li><a asp-controller="CalculatorService" asp-action="ModelBindingSeparate">Model binding (separate model)</a></li>
</ul>

